.tree .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected{
    background-color: #fff;
}
.tree .ant-tree{
    font-size: 15px;
}
.hoverBtn{
    display: inline;
}
.hoverBtn span{
    float:right;
    display: none;
}
.hoverBtn span i{
    font-size: 17px;
    color: #08c
}
.tree .ant-tree{
    width:50%;
    margin-left:5%;
    border:1px solid #ccc;
}
.ant-tree li .ant-tree-node-content-wrapper{
    width:94%;
}
.ant-tree li .ant-tree-node-content-wrapper:hover .hoverBtn span{
    display: block
}
.tree .ant-tree li .ant-tree-node-content-wrapper{
    border-bottom:1px solid #D9D9D9;
    height:31px;
    line-height:31px;
}