.actTable button{
    margin-right: 5px
}
.actTable h3{
    font-size: 18px
}
.seeTotal{
    margin-right:20px;
    text-decoration:underline;
    cursor:pointer
}
.sewTotal{
    margin-right:20px;
    text-decoration:none;
    cursor:auto;
}
.Pagination{
    display:flex;
    align-items: center;
    margin-top:10px;
}