.header-top{
    height:50px;
    line-height: 50px;
    text-align:right;
    color:#333;
    background: #fff;
    font-size: 16px;
    border-bottom: 1px solid #40a9ff;
}
.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title{
    font-size: 14px!important;
    text-align: center;
}
.userLogin{
    float:right;
    width:160px;
    text-align:center;
    cursor: pointer;
}
.userLogin i{
    font-size: 24px!important;
}
.userLogin:hover{
    background: #4a5f74;
    color:#fff;
}
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover{
    color:#1890FF;
}
.dropdown-link{
    display: inline-block;
    margin:0 10px;
}
.header-top .active{
    background: #1E90FF;
}
.header-top .active>a {
    color: #fcfcfc;
}
