.importBtns button{
    margin:15px 0 10px 0
}
.importList .ant-spin-container{
    height:300px;
    overflow: auto
}
.ant-list-item-content p{
    margin-bottom: 0;
}
.listHeader h4{
    display: inline;
}
.listHeader .checks{
    float:right;
    position: relative;
    padding-right: 62px
}
.listHeader .btns{
    position: absolute;
    right:-22px;
    top:0;
}
.infoColor{
    color:black;
}
.infoColor .ant-checkbox-checked .ant-checkbox-inner{
    background-color:black;
    border-color: black;
}
.sucColor{
    color:green;
}
.sucColor .ant-checkbox-checked .ant-checkbox-inner{
    background-color:green;
    border-color: green;
}
.errorColor{
    color:red;
}
.errorColor .ant-checkbox-checked .ant-checkbox-inner{
    background-color:red;
    border-color: red;
}
.warnColor{
    color:rgb(250, 225, 4);
}
.warnColor .ant-checkbox-checked .ant-checkbox-inner{
    background-color:rgb(250, 225, 4);
    border-color: rgb(250, 225, 4);
}
.importData h3{
    font-size: 18px
}