.labelcss label{
    display:inline-block;
    width:140px;
}
.downEditPic{
    display:inline-block;
}
.downEditPic a{
    visibility: hidden;
    color:#1890ff;
    cursor: pointer;
}
.downEditPic:hover a{
    visibility:visible;
}
.editPic .ant-upload-list{
    width:150px
}
.buttonGroup{
    position: fixed;
    width:100px;
    bottom: 30px;
    right: 30px;
    z-index: 99;
}
.buttonGroup .submitBtn{
    position: relative;
}
.buttonGroup button{
    margin-bottom: 10px;
}
.detailPage h3{
    font-size: 18px;
}
.detailPage .ant-card{
	min-width: 740px;
	width:91%
}
.editbtn button{
    margin-right: 5px;
}
.detailPage .pad{
    margin-right: 100px;
}